*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #FAC7D6;
    color: #FD1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.cabecalho-imagem{
 width: 28%;
}

.cabecalho-lista-item{
    display: inline;
    margin: 13% 15px;
    font-size: 20px;
}

.Origem-imagem{
    width: 30%;
}


.Origem-titulo{
    font-family: 'Cherry Swash';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 38px;
}
.origem-texto-um{
    font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;

}
    

.origem{
    width: 70%;
    padding: 8px;
    margin: 3%
}


.Origem{
    background-color: #ffe8ef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.Torta-de-cereja{
    background-color: #F496B2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.ingredientes{
    font-family: 'Cherry Swash';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
}

.torta-imagem{
    width: 30%;
    margin: 4%
}

.cereja{
    width: 70%;
    padding: 8px;
    margin: 3%
}

.tortinha{
    font-family: 'Cherry Bomb One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
   background-color: #F496B2; 
   text-align: center;
   padding: 20px;
}

.modo-preparo{
    font-family: 'Cherry Swash';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
}


.Modo-de-preparo{
    background-color:  #ffe8ef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.preparo{
    padding: 8px;
    margin: 3%
}

.rodape{
    background-color: #FAC7D6;
    padding: 20px;
    text-align: center;
}

.Peneire{
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
}

.xicara{
    font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
}

